<div id="todo-container">
	<h1 class="px-2">Yapılacaklar</h1>
	<div *ngFor="let todo of todos; let index = index" class="d-flex align-items-center p-2 highlight">
		<div class="form-check flex-grow-1">
			<input class="form-check-input" type="checkbox" id="todo-{{todo._id}}" [(ngModel)]="todo.completed" (ngModelChange)="toggleCompleted(todo)">
			<label class="form-check-label" for="todo-{{todo._id}}">
				<span class="text-muted me-2">{{index + 1}}.</span>
				<span [ngClass]="{completed: todo.completed}">{{todo.name}}</span>
			</label>
		</div>
		<button class="btn btn-sm btn-danger" (click)="deleteTodo(todo)">Sil</button>
	</div>
	<form (submit)="addTodo()" class="d-flex p-2">
		<input type="text" [(ngModel)]="newTodo" name="newTodo" placeholder="Yapılacak ekle" class="form-control form-control-sm me-2">
		<button class="btn btn-sm btn-success" type="submit">Ekle</button>
	</form>

	<ng-container *ngIf="completedTodos.length">
		<hr>
		<h2>Tamamlananlar</h2>
		<div *ngFor="let todo of completedTodos; let index = index" class="d-flex align-items-center p-2 highlight">
			<div class="form-check flex-grow-1">
				<input class="form-check-input" type="checkbox" id="todo-{{todo._id}}" [(ngModel)]="todo.completed" (ngModelChange)="toggleCompleted(todo)">
				<label class="form-check-label" for="todo-{{todo._id}}">
					<span class="text-muted me-2">{{index + 1}}.</span>
					<span [ngClass]="{completed: todo.completed}">{{todo.name}}</span>
				</label>
			</div>
			<button class="btn btn-sm btn-danger" (click)="deleteTodo(todo)">Sil</button>
		</div>
	</ng-container>
</div>
