#todo-container {
	width: 800px;
	min-height: 600px;
	margin: 100px auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 30px;
}

.completed {
	text-decoration: line-through;
	color: #999;
}

.highlight:hover {
	background-color: #f9f9f9;
}
